<html>
<head>
    <title>$title</title>
    <style type="text/css">
        div{margin-right:auto;margin-left:auto;width:740px;}
        body {background-color: #ffffff;}
    </style>
</head>
<body>
<script type="text/javascript">
    var socket;
    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket;
    }
    if (window.WebSocket) {
        socket = new WebSocket("ws://localhost:8080/websocket");
        socket.onmessage = function (event) {
            var imageArea = document.getElementById('imageOutput');
            var div = document.createElement('div');
            var img = document.createElement("img")
            img.setAttribute('src', event.data)
            div.appendChild(img)
            document.body.insertBefore(div, imageArea)
        };
    } else {
        alert("Your browser does not support Web Sockets.");
    }

    function send(message) {
        if (!window.WebSocket) {
            return;
        }
        if (socket.readyState == WebSocket.OPEN) {
            socket.send(message);
        } else {
            alert("The socket is not open.");
        }
    }
</script>
<div id="imageArea"></div>
</body>
</html>
